*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    position: relative;
}


/* Home page css start */
.header{
   position: absolute;
    top: -16px;
    right: 13rem;
    display: flex;
    padding: 1rem;
    z-index: 20;
   
}

.header-button{
    font-size: 1.3rem;
   border: 2px solid #55c57a;
   border-radius: 1rem;
   padding: 0.6rem;
   color: #3d3f44;
   text-decoration: none;
   margin: 1rem;

}

.container{
    padding: 2rem 0;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* Home page css over */

/* Bookmark page css start */

.bookmark-header{
    height: 2.5rem;
    width: 100%;
   background-color: #ece3db;
}

.heading{
    padding: 4px 20px;
    font-size: 20px;
}

/* Bookmark page css  over */